################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App_BAL/bin/Debug
/App_BAL/obj
/App_UI/bin/Debug
/App_UI/obj
/App_UI/Properties
/App_Wrapper/bin/Debug
/App_Wrapper/obj
/CustomServerControls/bin/Debug
/CustomServerControls/obj
/App_UI/bin/x86/Debug
/App_Wrapper/bin/x86/Debug
/CustomServerControls/bin/x86/Debug
/packages/Newtonsoft.Json.10.0.3
/App_BAL/bin/x86/Debug
/POSInstaller/Debug
/App_BAL/bin/Release
/App_UI/bin/Release
/App_Wrapper/bin/Release
/CustomServerControls/bin/Release
